body{
    text-align: center;
    background-color: rgb(24, 158, 62);
    

}
img {
    height: 150px;
    width: 100px;
    margin: 2px;
}
#dealer {
    display: grid;
    grid-template-rows: 3fr 3fr 3fr;
}
#player {
    display: grid;
    grid-template-rows: 3fr 3fr 3fr;
}
#buttons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}
 #display_results{
    text-align: center;
    font-size: 20px;
 }

 .modal_card {
    position:fixed;
    z-index: 100;
    background: white;
    border-radius: 10px;
    width: 80%;
    top: 30vh;
    left: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display:none;
 }

 .modal_card.visible {
    display:block;
    animation: fade-slide-in 1.3s ease-out forwards; 
 }